<h1><%= @restaurant.name %></h1>

<h2>Category</h2>
<p><%= @restaurant.category.capitalize %></p>
<h2>Address</h2>
<p><%= @restaurant.address %></p>
<h2>Phone Number</h2>
<p><%= @restaurant.phone_number %></p>
